body {
  background-color: #ebfaeb;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust the height as needed */
}

.logo-container img {
  max-height: 100%;
  max-width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main-section {
  text-align: center;
  margin-top: 50px;
}

.main-section ul {
  list-style-type: none;
  padding-left: 0;
}

.main-heading {
  font-size: 2rem;
}

.photo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.photo-section img {
  max-width: 25%;
  height: auto;
  margin-top: 20px;
}